<footer class="footer pb-1 pb-lg-4 bg-light position-relative pt-7">

    <!-- container start -->
    <div class="container">

      <!-- row start -->
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5">
          <a class="mb-5 d-block footer-logo" href="/">
            <img class="svg-injector" src="images/pandavideo.svg" alt="Panda Video Logo">
          </a>
          <div class="col-6 mt-4 mb-2 d-inline footer-social-icons">
            <a href="https://facebook.com/pandavideobr/" target="_blank" class="footer-icon social fb" style="margin: 0 5px 0 16px;">
              <i class='fab fa-facebook'></i>
            </a>
            <a href="https://twitter.com/pandavideobr/" target="_blank" class="footer-icon social tw"> 
              <i class='fab fa-twitter'></i>
            </a>
            <a href="https://instagram.com/pandavideobr/" target="_blank" class="footer-icon social ig">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/company/pandavideo/" target="_blank" class="footer-icon social in">
              <i class='fab fa-linkedin'></i>
            </a>
          </div>
          
        </div>
        <div class="col-lg-2 col-md-3 ml-lg-6 mb-2 mt-3 mr-6">
          <h4 class="font-weight-normal">Suporte</h4>
          <ul class="list-unstyled ml-1">
            <li>
              <a href="https://help.pandavideo.com/pt-br/" target="_blank">Central de Ajuda</a>
            </li>
            <li>
              <a href="http://wa.me/+551340420800" target="_blank">Whatsapp</a>
            </li>
            <li>
              <a href="http://t.me/PandaVideoBot" target="_blank">Telegram</a>
            </li>
            <li>
              <a href="suporte@pandavideo.com" target="_blank">suporte@pandavideo.com</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 mb-2 mt-3">
          <h4 class="font-weight-normal">Sobre</h4>
          <ul class="list-unstyled ml-1">
            <li>
              <a class="link-anchor" href="#benefits">Vantagens</a>
            </li>
            <li>
              <a class="link-anchor" href="#plans">Planos</a>
            </li>
            <li>
              <a href="https://afiliados.pandavideo.com.br/" target="_blank">Afiliados</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 mt-3">
          <h4 class="font-weight-normal">Empresa</h4>
          <ul class="list-unstyled ml-1">
            <li>
              <a href="https://pandavideo.com.br/privacy/">Políticas de Privacidade</a>
            </li>
            <li>
              <a href="https://pandavideo.com.br/cookies/">Políticas de Cookies</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- row end -->

      <hr />

      <!-- row start -->
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
            <p class="mb-0">© <a href="/">Panda Vídeos LTDA</a> 2021. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled list-inline mb-0 text-md-right text-center">
            <li>
              <a href="https://pandavideo.com.br/terms/">Termos de Uso</a>
            </li>
          </ul>
        </div>

      </div>
      <!-- row end -->

    </div>
    <!-- container end -->

  </footer>