<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ if .IsHome }}
    <meta property="og:image" content="images/logo-white.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="images/panda.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="libs/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="libs/themify/css/themify-icons.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="libs/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="libs/magnific-popup/css/magnific-popup.css" />

    <!-- Template Style -->
    
    <link rel="stylesheet" href="css/style.css" />
    {{ else }}
    <meta property="og:image" content="../images/logo-white.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="../images/panda.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="../libs/themify/css/themify-icons.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="../libs/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../libs/magnific-popup/css/magnific-popup.css" />

    <!-- Template Style -->
      <link rel="stylesheet" href="../css/style.css" />
    {{end}}


    <script type="text/javascript">
      CRISP_RUNTIME_CONFIG = {
        locale : "pt-br"
      };
      window.$crisp=[];
      window.CRISP_WEBSITE_ID="601b54df-2509-4596-a658-75a9f89b61b3";
      (function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
    </script>

    <script src="https://script.tapfiliate.com/tapfiliate.js" type="text/javascript" async></script>
    <script type="text/javascript">
        (function(t,a,p){t.TapfiliateObject=a;t[a]=t[a]||function(){
        (t[a].q=t[a].q||[]).push(arguments)}})(window,'tap');

        tap('create', '25316-3d6d8c', { integration: "stripe" });
        tap('detect');
    </script>

    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '154060436863263');
          fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=154060436863263&ev=PageView&noscript=1"/></noscript>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JTX8GV8JBB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-JTX8GV8JBB');
    </script>
  </head>