<header class="header header-transparent header-sticky py-md-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- navbar top -->
  
          <!-- main navbar -->
          <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href="/"><img class="svg-injector" src="../images/pandavideo.svg" alt="Panda Video Logo"></a>
            <!-- navbar toggler -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <!-- Start Itens Menu -->
                <li class="nav-item">
                  <a class="nav-link arrow link-anchor" href="#benefits">Vantagens</a>
                </li>
                <!-- Feedback
                <li class="nav-item">
                  <a class="nav-link arrow link-anchor" href="#feedback">Feedback</a>
                </li>
                -->
                <li class="nav-item">
                  <a class="nav-link arrow link-anchor" href="#plans">Planos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link arrow" href="https://afiliados.pandavideo.com.br/" target="_blank">Afiliados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link arrow" href="https://help.pandavideo.com/pt-br/" target="_blank">Ajuda</a>
                </li>
                <!--
                <li class="nav-item">
                  <a class="nav-link arrow link-anchor" href="#faq">FAQ</a>
                </li>
                End Itens Menu -->
                <!-- End Itens Menu -->
              </ul>
            </div>
            <div class="d-sm-flex ml-lg-auto m-sm-auto d-none">
              <ul class="nav ml-1 ml-lg-2 align-self-center">
                <!-- button -->
                <li class="nav-item">
                  <div class="dropdown flag-header">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="svg-injector" src="images/brazil-flag.png" alt="Brazil Flag">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="navbar-brand d-flex" href="/">
                        <img class="svg-injector" src="images/brazil-flag.png" alt="Brazil Flag">
                      </a>
                      <a class="navbar-brand d-flex" href="https://pandavideo.com">
                        <img class="svg-injector" src="images/eua-flag.png" alt="EUA Flag">
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- dropdown menu -->
             <div class="d-sm-flex ml-lg-auto m-sm-auto d-none buttons-header">
                <ul class="nav ml-1 ml-lg-2 align-self-center">
                  <!-- button -->
                  <li class="nav-item pl-2">
                    <a class="btn btn-primary-soft btn-top" href="https://dashboard.pandavideo.com.br/">
                      <i class="fa fa-user pr-2"></i>&nbsp Login
                    </a>
                  </li>
                  <li class="nav-item pl-2">
                    <button class="btn btn-primary-panda" id="free-test">
                      Teste grátis
                    </button>
                  </li>
                </ul>
              </div>
          </nav>
        </div>
      </div>
    </div>
  </header>