<!-- JS Global Compulsory (Do not remove)-->
<script src="libs/jquery/jquery-3.4.1.min.js"></script>
<script src="libs/popper/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>

<script src="libs/owl-carousel/js/owl.carousel.min.js"></script>

<!-- Svg Injector)-->
<script src="libs/svg-injector/dist/svg-injector.min.js"></script>

<!-- Template Scripts (Do not remove)-->
<script src="js/custom.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>