
<!DOCTYPE html>
<html lang="{{ .Site.Params.Lang }}">

  {{- partial "head.html" . -}}

  <body class="bg-light">

    <!--=================================
    header start -->
      {{- partial "header.html" . -}}
    <!--=================================
    header end -->

    {{- block "main" . }}
    <!--=================================
    intro start-->
    <section class="pt-lg-9 mb-0 position-relative">

      <div class="position-absolute right bottom d-none d-lg-block">
        <img class="svg-injector" src="images/svg/shape-07.svg" alt="svg">
      </div>

      <!-- container start -->
      <div class="container">

        <!-- row start -->
        <div class="row pt-4 pb-0">
            <div class="col-lg-6">
              <h2 class="font-weight-normal" style="font-size: 2.3rem;">
                <u class="u-draft" style="text-decoration:underline;">Segurança</u> e performance na hospedagem e streaming de vídeos e aulas dos seus cursos.
              </h2>
              <p class="lead">A solução de vídeo completa para sua empresa se preocupar com o conteúdo e utilizar as <u class="u-draft">mais modernas</u> tecnologias de streaming nos seus sites.</p>
              
              <form class="form-row mb-3">
                <div class="col">
                  <input type="email" class="form-control form-email-register" placeholder="Insira seu e-mail..." id="form-email0" required 
                  title="nome@exemplo.com"/>
                  <span id="message-error0" class="message-error">
                  </span>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary-panda btn-teste-gratis" id="teste-gratis0">Teste grátis por 7 dias</button>
                </div>
              </form>

            </div>

            <div class="col-lg-6">
                <!-- intro image start -->
                <div class="container-embed-video">
                  <iframe
                      src="https://player-vz-ded14ebd-85a.tv.pandavideo.com.br/embed/?v=3b101f05-84aa-4de0-9b64-71f1855388af&muted=false&autoplay=false"
                      style="border:none;position:absolute;top:0;left: 0;bottom: 0;width: 100%;height: 100%;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;fullscreen">
                  </iframe>
                </div>
                <!-- intro image end -->
            </div>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-5">

            <div class="d-flex">

              <!-- svg start -->
              <div class="svg">
                <img class="svg-injector align-self-start" src="images/svg/icon-03.svg" alt="svg">
              </div>
              <!-- svg end -->

              <div class="ml-3">
                  <h4 class="font-weight-normal mb-1">Identificação do aluno no vídeo (DRM / forensic watermark) contra pirataria</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">

            <div class="d-flex">

              <!-- svg start -->
              <div class="svg">
                <img class="svg-injector align-self-start" src="images/svg/icon-01.svg" alt="svg">
              </div>
              <!-- svg end -->

              <div class="ml-3">
                <h4 class="font-weight-normal mb-1">Player super rápido (ideal para não perder vendas em CPL)</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">

            <div class="d-flex">

              <!-- svg start -->
              <div class="svg">
                <img class="svg-injector align-self-start" src="images/svg/icon-02.svg" alt="svg">
              </div>
              <!-- svg end -->

              <div class="ml-3">
                  <h4 class="font-weight-normal">Lives HD fechadas (chega de vídeos não listados no Youtube)</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- row end -->
      <!-- container end -->

    </section>
    <!--=================================
    intro end -->

    <!--=================================
    feature start -->
    <section class="pb-lg-9" id="benefits" style="padding-top: 6%;">
      <!-- container start -->
        <div class="container">

          <!-- row start -->
          <div class="row">
            <div class="col-12 text-center">

              <!-- heading start -->
                  <div class="mb-md-6">
                    <h2 class="panda-title mb-2">Principais vantagens</h2>
                    <p class="panda-subtitle">Vamos deixar fácil para você escolher a Panda. Leia aqui algumas das principais vantagens.</p>
                  </div>
              <!-- heading end -->

            </div>
          </div>
          <!-- row end -->

          <!-- row start -->
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-3">
              <div class="card-panda-advantages">

                <!-- svg start -->
                <img src="images/svg/icon-vantagem-1.svg" alt="svg">
                <!-- svg end -->

                <h4 class="title-card-panda-advantages">Player mais rápido do mercado</h4>
                <hr>
                <p class="p-card-panda-advantages">Nossa tecnologia permite uma exibição ultrarrápida dos seus vídeos mesmo em conexões com baixa velocidade.</a>.</p>

              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12 mb-3">
              <div class="card-panda-advantages">

                <!-- Ssvg start -->
                <img src="images/svg/icon-vantagem-2.svg" alt="svg">
                <!-- svg end -->

                <h4 class="title-card-panda-advantages">Preço sem surpresa</h4>
                <hr>
                <p class="p-card-panda-advantages">O melhor preço do mercado com qualidade superior. Nada de receber uma carta depois de um tempo que para continuar seu plano vai aumentar 10x.</p>

              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3">
              <div class="card-panda-advantages">

                <!-- svg start -->
                <img src="images/svg/icon-vantagem-3.svg" alt="svg">
                <!-- svg end -->

                <h4 class="title-card-panda-advantages">Chega de pirataria</h4>
                <hr>
                <p class="p-card-panda-advantages">Proteção por domínio para exibição e recurso de DRM (forensic watermark) onde seus vídeos são encodados com os dados do seu aluno, evitando cópias indesejadas.</p>

              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3">
              <div class="card-panda-advantages">

                <!-- svg start -->
                <img src="images/svg/icon-vantagem-4.svg" alt="svg">
                <!-- svg end -->

                <h4 class="title-card-panda-advantages">Simples, fácil e rápido</h4>
                <hr>
                <p class="p-card-panda-advantages">Para subir seu vídeo basta clicar e arrastar, ou importar diretamente do seu Google Drive ou Vimeo. A gestão dos vídeos é fácil e descomplicada.</p>

              </div>
            </div>

          </div>
          <!-- row end -->

        </div>
      <!-- container end -->

    </section>
    <!--=================================
    feature end -->


    <!--=================================
    DRM start -->
    <section class="pb-lg-9 pb-7" id="DRM">

      <!-- container start -->
        <div class="container">

          <!-- row start -->
          <div class="row align-items-center">

            <div class="col-md-6 mb-6 mb-md-0">
              <img class="svg-injector w-100 ie-h-550" src="images/svg/vector-DRM.svg" alt="svg">
            </div>

            <div class="col-md-6">

              <!-- heading start -->
              <div class="mb-md-6 mb-5">
                <h2 class="panda-title mb-2" style="color:#2F2F2F;">DRM / Forensic Watermark</h2>
                <p class="panda-subtitle pt-3"><b>Proteja seus vídeos contra pirataria!</b><br/><br/>Com uma solução própria, identificamos a pessoa que assiste o vídeo com dados únicos (nome, cpf, email, etc) e colocamos isso no vídeo identificando a pessoa que assiste o vídeo (forensic watermark). Este é um recurso opcional, eficiente e barato.<br/><br/><u class="u-draft">Lançamento em Setembro 2021!</u></p>
              </div>
              <!-- heading end -->

            </div>

          </div>
          <!-- row start -->

        </div>
      <!-- container end -->

    </section>
    <!--=================================
    DRM end -->



    <!--=================================
    integration start -->
    <section class="pb-lg-9 pb-7" id="integration">

      <!-- container start -->
        <div class="container">

          <!-- row start -->
          <div class="row align-items-center">

            <div class="col-md-6">
              <!-- heading start -->
              <div class="mb-md-6 mb-5">
                <h2 class="panda-title mb-2" style="color:#2F2F2F;">Suas aulas ao vivo integradas na plataforma</h2>
                <p class="panda-subtitle pt-3 pb-2">Você pode fazer lives para sua audiência diretamente na Panda, utilizando o seu serviço de broadcast preferido como Streamyard, OBS, etc. Nossa infraestrutura está preparada para acomodar milhares de pessoas simultaneamente com distribuição localizada para melhorar a performance.</p>
                <p class="lead panda-subtitle"><u class="u-draft">VENHA PARA A FLORESTA DA PANDA VÍDEO!</u></p>
                <form class="form-row mb-3">
                  <div class="col">
                    <input type="email" class="form-control form-email-register" placeholder="Insira seu e-mail..." id="form-email1" required 
                    title="nome@exemplo.com"/>
                    <span id="message-error1" class="message-error">
                    </span>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary-panda btn-teste-gratis" id="teste-gratis1">Teste grátis por 7 dias</button>
                  </div>
                </form>
              </div>
              <!-- heading end -->
            </div>

            <div class="col-md-6 mb-6 mb-md-0">
                <img class="svg-injector w-100 ie-h-550" src="images/svg/vector-live.svg" alt="svg">
            </div>

          </div>
          <!-- row start -->

        </div>
      <!-- container end -->

    </section>
    <!--=================================
    integration end -->



    <!--=================================
    resources start -->
    <section id="resources">

      <!-- container start -->
        <div class="container">

          <!-- row start -->
          <div class="row align-items-center">

            <div class="col-md-6 mb-6 mb-md-0">
              <img class="svg-injector w-100 ie-h-376 h-auto" src="images/svg/vector-videos.svg" alt="svg">
            </div>

            <div class="col-md-6">

              <!-- heading start -->
              <div class="mb-md-6 mb-5">
                <h2 class="panda-title mb-2" style="color:#2F2F2F;">Seus vídeos na plataforma que você estiver</h2>
                <p class="panda-subtitle pt-3">Quando você publica seu vídeo na Panda tem independência de plataforma, nada de ficar preso a contratos ou venda casada. O vídeo estando na Panda, você publica onde você quiser e como quiser.</p>
              </div>
              <!-- heading end -->

              <div class="row">
                <div class="col-12">
                  <!-- list start -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-3 li-panda-features">
                      <span class="badge badge-rounded-circle badge-primary-soft mr-2">
                      <i class="fa fa-check"></i>
                      </span>
                      Código embeded compatível com Hotmart, Eduzz, MS Teams, Xgrow
                    </li>
                    <li class="mb-3 li-panda-features">
                      <span class="badge badge-rounded-circle badge-primary-soft mr-2">
                      <i class="fa fa-check"></i>
                      </span>
                      Player totalmente customizável
                    </li>
                    <li class="mb-3 li-panda-features">
                      <span class="badge badge-rounded-circle badge-primary-soft mr-2">
                      <i class="fa fa-check"></i>
                      </span>
                      Link para publicação diretamente em qualquer site
                    </li>
                  </ul>
                  <!-- list end -->
                </div>
              </div>

            </div>

          </div>
          <!-- row start -->

        </div>
      <!-- container end -->

    </section>
    <!--=================================
    resources end -->


    <!--=================================
    testimonial start
    =================================
    <section id="feedback" style="padding-top: 9%;">


      <div class="container">


        <div class="row">

          <div class="col-12 text-center">

            <h2 class="panda-title mb-2">O que nossos clientes pensam sobre nós?</h2>
            <p class="panda-subtitle">"Um cliente satisfeito é sua maior vantagem competitiva!"</p>

          </div>

        </div>

        <div class="row justify-content-center px-6">
          <div class="col-md-10">
            <div class="row align-items-center">

              <div class="col-sm-12">

                  <div class="owl-carousel text-left" data-nav-dots="true" data-items="3" data-md-items="2" data-sm-items="2" data-xs-items="1" data-xx-items="1">

                    <div class="card-item-testimonial item">
                      <div class="d-flex">
                        <div class="row">
                          <div class="col-3">
                            <img class="img-fluid avatar avatar-md rounded-circle w-50" src="images/cris.jpg" alt="">
                          </div>
                          <div class="col-9">
                            <h5 class="title-testimonial-panda">Christian Barbosa</h5>
                            <small class="profession-testimonial-panda">Triade do Tempo</small>
                          </div>
                          <div class="col-12">
                            <i class="text-testimonial-panda">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times.</i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-item-testimonial item">
                      <div class="d-flex">
                        <div class="row">
                          <div class="col-3">
                            <img class="img-fluid avatar avatar-md rounded-circle w-50" src="images/pablo.jpg" alt="">
                          </div>
                          <div class="col-9">
                            <h5 class="title-testimonial-panda">Pablo Marçal </h5>
                            <small class="profession-testimonial-panda">PLX</small>
                          </div>
                          <div class="col-12">
                            <i class="text-testimonial-panda">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times.</i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-item-testimonial item">
                      <div class="d-flex">
                        <div class="row">
                          <div class="col-3">
                            <img class="img-fluid avatar avatar-md rounded-circle w-50" src="images/avatar/02.jpg" alt="">
                          </div>
                          <div class="col-9">
                            <h5 class="title-testimonial-panda">Jhon Doe </h5>
                            <small class="profession-testimonial-panda">Designer</small>
                          </div>
                          <div class="col-12">
                            <i class="text-testimonial-panda">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times.</i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-item-testimonial item" >
                        <div class="d-flex">
                          <div class="row">
                            <div class="col-3">
                              <img class="img-fluid avatar avatar-md rounded-circle w-50" src="images/avatar/02.jpg" alt="">
                            </div>
                            <div class="col-9">
                              <h5 class="title-testimonial-panda">Martin Smith </h5>
                              <small class="profession-testimonial-panda">ceo</small>
                            </div>
                            <div class="col-12">
                              <i class="text-testimonial-panda">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times.</i>
                            </div>
                          </div>
                        </div>
                    </div>

                  </div>


              </div>

          </div>


          </div>

        </div>


      </div>


    </section>
    <!-=================================
    testimonial end -->


    <!--=================================
    pricing plan start -->
    <section id="plans" style="padding-top: 6%;">

      <!-- container start -->
        <div class="container">
          <!-- row start -->
          <div class="row align-items-center">
            <div class="col-xl-12 text-center">

                  <div class="row">

                    <div class="col-12 text-center">

                      <h2 class="panda-title mb-2" style="text-transform: uppercase; font-size: 1.675rem;">Preço promocional de lançamento</h2>
                      <p class="panda-subtitle">São oito faixas de preço que atendem desde quem está começando até as lendas do marketing digital.</p>

                    </div>

                    <!--
                    <div class="col-12 text-center">
                      <ul class="nav d-inline-flex">
                        <li class="nav-item">
                          <a class="btn btn-primary-panda" href="#">
                            Mensal
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="btn btn-primary-soft btn-top" href="#">
                            Anual
                          </a>
                        </li>
                      </ul>
                    </div> -->

                  </div>


                  <!-- Price Range Slider-->
                  <div class="row mx-1 my-4 justify-content-center box-ideal-plan px-0 px-sm-0">
                    
                    <div class="col-12">
                      <h4 class="mb-2">Qual é meu plano ideal?</h4>
                      <p class="mb-6">Nos informe abaixo os dados referente aos vídeos e alunos que você possuí e indicaremos os planos ideais para você. </p>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-lg-0 mb-3">
                      <span>Quantos vídeos você tem atualmente?</span>
                      <div class="output-info-container">
                        <i class="fa fa-video-camera"></i><span><output id="output-info0">50</output>&nbspVídeos</span>
                      </div>
                      <input type="range" value="50" id="range-slider-0" min="50" max="1000" step="50">
                    </div>

                    <div class="col-lg-4 col-md-12 mb-lg-0 mb-3">
                      <span>Qual tempo médio de cada vídeo?</span>
                      <div class="output-info-container">
                        <i class="fa fa-clock-o"></i><span><output id="output-info1">10 </output>&nbspMinutos</span>
                      </div>
                      <input type="range" value="10" id="range-slider-1" min="10" max="120" step="10">
                    </div>

                    <div class="col-lg-4 col-md-12 mb-lg-0 mb-3">
                      <span>Quantos alunos ativos você tem em média?</span>
                      <div class="output-info-container">
                        <i class="fa fa-users"></i><span><output id="output-info2">100 </output>&nbspAlunos</span>
                      </div>
                      <input type="range" value="100" id="range-slider-2" min="100" max="10000" step="100">
                    </div>

                  </div>


                  <!-- row start -->
                  <div class="row px-4">

                    <div class="col-md-12">

                      <!-- row start -->
                      <div class="row">

                        <div class="d-sm-block d-none col-lg-2 col-md-3 col-sm-6 col-6 p-0">
                          <!-- Card body start -->
                          <div class="card-container p-0">
                            <div class="card-body-price p-0" data-hash="card1">
                              <div class="card-title-benefits">
                                <h5 class="card-title font-weight-normal mb-0">Benefícios</h5>
                              </div>
                              <div class="mb-3 card-body-price-benefits">
                                <span><b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                  Armazenamento
                                </span>
                                <span><b class="badge badge-rounded-circle badge-primary-soft mr-1"><i class="fa fa-exchange-alt"></i></b>
                                  Tráfego
                                </span>
                                <span><b class="badge badge-rounded-circle badge-primary-soft mr-1"><i class="fa fa-usd"></i></b>
                                  <strong>Valor</strong>
                                </span>
                              </div>
                            </div>
                          </div>
                          <!-- Card body end -->
                        </div>
                        
                        <div class="col-lg-10 col-md-9 col-sm-6 col-12 p-0">

                          <!-- Start Simple Pricing Slider
                          <div class="wrap">
                            <input type='range' min='1000' max='10000' value='3000' step='200' class='val' id='r1'/>
                            <div class="value">Quantos vídeos você tem atualmente?</div>

                            <input type='range' min='1' max='10' value='1' step='1' class='val2' id='r2'/>
                            <div class="value2">Qual o tempo médio de cada vídeo?</div>

                            <input type='range' min='1000' max='10000' value='3000' step='200' class='val3' id='r3'/>
                            <div class="value3">Quantos alunos você tem em média?</div>
                          </div>
                          Finish Simple Pricing Slider -->

                          <!-- owl carousel start -->
                          <div class="owl-carousel text-left owl-carousel-prices" data-nav-dots="true" data-items="3" data-md-items="2" data-sm-items="2" data-xs-items="1" data-xx-items="1">
                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-recommended card-1" data-hash="card1">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Starter</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">5 GB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">5 GB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">12</span>
                                    <span class="after">,90 /ano</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-2" data-hash="card2">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Branca</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">400 GB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">400 GB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">27</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-3" data-hash="card3">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Amarela</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">1 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">1 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">67</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-4" data-hash="card4">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Verde</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">1 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">5 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">287</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-5" data-hash="card5">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Roxa</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">1 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">10 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">587</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-6" data-hash="card6">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Marrom</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">2 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">15 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">787</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-7" data-hash="card7">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Faixa Preta</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">2 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">30 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">1.487</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                            <!-- Card body start -->
                            <div class="p-0">
                              <div class="card-body-price p-0 card-8" data-hash="card8">
                                <div class="card-title-price">
                                  <h5 class="card-title mb-0">Lenda Viva</h5>
                                </div>
                                <div class="mb-3 card-body-price-details">
                                  <span class="span-details">                              
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Armazenamento
                                    </span>
                                    <b class="price">2 TB</b>
                                  </span>
                                  <span class="span-details">
                                    <span class="details-title-plan d-sm-none d-inline-block">
                                      <b class="badge badge-rounded-circle badge-primary-soft mr-1 storage"><i class="fa fa-hdd"></i></b>
                                      Tráfego
                                    </span>
                                    <b class="price">50 TB</b>
                                  </span>
                                  <span class="span-details-price">
                                    <span class="symbol">R$</span>
                                    <span class="amount">1.987</span>
                                    <span class="after">,90 /mês</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- Card body end -->

                          </div>
                          <!-- owl carousel end -->

                        </div>
                        <!-- col start -->

                      </div>
                      <!-- row end -->

                    </div>

                  </div>

            </div>

            </div>

        </div>
        <!-- row end -->
      <!-- container end -->

    </section>
    <!--=================================
    pricing plan end -->

    <!--=================================
    action box start -->
    <section class="pb-lg-9 pb-7 mt-7 position-relative z-index-0">

      <!-- container start -->
        <div class="container">
          <div class="bg-dark p-lg-6 p-4 position-relative">

            <!-- row start -->
            <div class="row">

              <div class="col-md-6 text-md-right">
                <p class="lead text-white">A solução de vídeo completa para sua empresa se preocupar com o conteúdo e utilizar as mais modernas tecnologias de streaming nos seus sites.</p>
              </div>

              <div class="col-md-6">
                <h3 class="text-white">VENHA PARA A FLORESTA DA PANDA VÍDEOS!</h3>
                <form class="form-row mb-3">
                  <div class="col">
                    <input type="email" class="form-control form-placeholder-white form-email-register" placeholder="Insira seu e-mail..." id="form-email2" required 
                    title="nome@exemplo.com" style="color: #FFFFFF;"/>
                    <span id="message-error2" class="message-error">  
                    </span>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary-panda btn-teste-gratis" id="teste-gratis2">Teste grátis por 7 dias</button>
                  </div>
                </form>
              </div>

            </div>
            <!-- row end -->

            <div class="position-absolute bottom left z-index-n1 ml-n9 mb-n7">
              <!-- svg start -->
              <img class="svg-injector" src="images/svg/shape-04.svg" alt="svg">
              <!-- svg end -->
            </div>

            <div class="position-absolute bottom left z-index-n1 ml-n9 mb-n9">
              <!-- svg start -->
              <img class="svg-injector" src="images/svg/shape-05.svg" alt="svg">
              <!-- svg end -->
            </div>

          </div>
        </div>
      <!-- container end -->

    </section>
    <!--=================================
    action box end -->

    <!--=================================
    accordion start
    <section class="pb-lg-9 pb-7" id="faq" style="padding-top: 7%;">

      container start
        <div class="container">

          row start
          <div class="row px-6">

            <div class="col-md-6 col-12">
                <img class="svg-injector w-100 h-svg-custom" src="images/svg/questions_panda.svg" alt="svg">
            </div>

            <div class="col-md-6 col-12">

              <!- row start
              <div class="row">

                <div class="col-12">
                  < heading start
                    <div class="mb-md-6 mb-5">
                      <h2 class="panda-title my-3" style="color:#2F2F2F;">Surgiu alguma dúvida?</h2>
                      <p class="panda-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</p>
                    </div>
                  <!- heading end --
                </div>

                <div class="col-12">
                  <div class="accordion" id="accordionExample">
                      <div class="card card bg-transparent border mb-2">
                        <div class="card-header bg-transparent border-0 p-0" id="headingOne">
                          <h5 class="mb-0">
                            <button class="bg-transparent border-0 p-3 pl-9 left btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Does it need to be done at all?
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body pt-0 pb-1 text-accordion">
                            Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important.
                          </div>
                        </div>
                      </div>
                    <div class="card card bg-transparent border mb-2">
                        <div class="card-header bg-transparent border-0 p-0" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="bg-transparent border-0 p-3 pl-9 left btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Free, With Benefits?
                            </button>
                          </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body pt-0 pb-1 text-accordion">
                            Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision.
                          </div>
                        </div>
                      </div>
                      <div class="card card bg-transparent border mb-2">
                        <div class="card-header bg-transparent border-0 p-0" id="headingThree">
                          <h5 class="mb-0">
                            <button class="bg-transparent border-0 p-3 pl-9 left btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Why is Clarity so important?
                            </button>
                          </h5>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body pt-0 pb-1 text-accordion">
                            If success is a process with a number of defined steps, then it is just like any other process. So, what is the first step in any process.
                          </div>
                        </div>
                      </div>
                      <div class="card card bg-transparent border mb-2">
                        <div class="card-header bg-transparent border-0 p-0" id="headingfour">
                          <h5 class="mb-0">
                            <button class="bg-transparent border-0 p-3 pl-9 left btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                              What is the first step in any process?
                            </button>
                          </h5>
                        </div>

                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                          <div class="card-body pt-0 pb-1 text-accordion">
                            There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number of steps the experts talk about, they all originate from the same roots.
                          </div>
                        </div>
                      </div>
                      <div class="card card bg-transparent border mb-2">
                        <div class="card-header bg-transparent border-0 p-0" id="headingfive">
                          <h5 class="mb-0">
                            <button class="bg-transparent border-0 p-3 pl-9 left btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                              Then it is just like any other process?
                            </button>
                          </h5>
                        </div>

                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                          <div class="card-body pt-0 pb-1 text-accordion">
                            Commitment – understanding the price and having the willingness to pay that price
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!- row end --

          </div>

          <!- MORE QUESTIONS
          <div class="col-12 text-center">
                <div class="mt-4 d-inline-block">Still have a question? <a href="faq.html"> Ask your question here <i class="fas fa-arrow-right pl-1"></i></a></div>
          </div>
          --

          </div>
          <!- row start --

        </div>
      <!- container end ->

    </section>
    <!-=================================
    accordion end -->
    {{end}}

  <!--=================================
  footer-->
    {{- partial "footer.html" . -}}
  <!--=================================
  footer-->

  <!--=================================
  Javascript -->
    {{- partial "scripts.html" . -}}
  </body>

</html>