{{ define "main" }}
<!--=================================
inner banner strat -->
<section class="inner-banner text-center pt-7">

    <!-- container start -->
      <div class="container">
  
        <!-- row start -->
        <div class="row">
          <div class="col-sm-12">
  
            <div class="bg-primary bg-overlay-theme-80 py-7" style="background: url(images/bg/01.jpg); background-size: cover; background-position: center center;">
  
              <!-- breadcrumb title start -->
              <h1 class="mb-1 text-white">Blog</h1>
              <!-- breadcrumb title end -->
  
              <!-- breadcrumb start -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light justify-content-center p-0">
                  <li class="breadcrumb-item">
                    <i class="fa fa-home pr-1"></i>
                    <a href="#">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Blog</li>
                </ol>
              </nav>
              <!-- breadcrumb end -->
  
            </div>
  
          </div>
        </div>
      <!-- row end -->
  
      </div>
    <!-- container end -->
  
  </section>
  <!--=================================
  inner banner end-->

  <!--=================================
blog strat -->
<section class="py-lg-9 py-7">

    <!-- container start -->
      <div class="container">
  
        <!-- row start -->
        <div class="row">
            {{ range .Pages }}
            <div class="col-lg-4 col-md-6 mb-5">
  
            <!-- blog start -->
            <div class="card bg-light border-0">
              <!-- <img src="images/blog/01.jpg" class="card-img-top" alt="..."> -->
              <div class="card-body p-4">
                <a href="{{.Permalink}}" class="mb-0">{{.Title}}</a>
                <h4 class="mt-1 font-weight-normal">
                  <a class="text-dark" href="{{.Permalink}}">{{.Content}}</a>
                </h4>
                <hr>
                <div class="d-flex">
                  <a href="#" class="text-dark small mr-3">
                    <i class="far fa-clock text-primary mr-1"></i><a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}}  </a>
                  </a>
                  <a href="#" class="text-dark small mr-3">
                    <i class="far fa-comment text-primary mr-1"></i>13, Comment
                  </a>
                  <a href="#" class="text-dark small">
                    <i class="far fa-heart text-primary mr-1"></i>26 Like
                  </a>
                </div>
              </div>
            </div>
        </div>
        {{ end }}
      <!-- row end -->
      
  
      </div>
    <!-- container end -->
  
  </section>
  <!--=================================
  about us end-->
  {{ end }}


    