
<!DOCTYPE html>
<html lang="{{ .Site.Params.Lang }}">

  {{- partial "head.html" . -}}

  <body class="bg-light">

    <!--=================================
    header start -->
      {{- partial "header.html" . -}}
    <!--=================================
    header end -->

    {{- block "main" . }}

<!--=================================
Breadcrumb -->
<div class="inner-banner bg-light text-center bg-overlay-theme-80 py-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
       <h1 class="text-white mb-1 mt-lg-9">{{title}}</h1>
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light justify-content-center bg-transparent p-0 m-0">
            <li class="breadcrumb-item">
              <a href="https://pandavideo.com.br">
                <i class="fa fa-home pr-1"></i>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Política de Cookies Panda Vídeos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--=================================
Breadcrumb -->


<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <p>Apresentamos a nossa Política de Cookies em linguagem simples, clara e objetiva, para que os nossos Usuários compreendam facilmente o uso de cookies em nosso site.</p>
      
      <div class="row">
        <div class="col-md-7 col-11" style="display: table; margin: 0 auto;">
          <div class="card-panda-advantages" style="border-radius: 10px; min-height: 206px;">
            <div class="row">
                
                <div class="col-md-6 col-12 align-center">
                    <img src="../images/cookies.png" width="225px" alt="cookies-panda" title="cookies-panda" style="display: table; margin: 0 auto;"/>
                </div>

                <div class="col-md-6 col-12">
                    <h4 class="title-card-panda-advantages text-center" style="color: rgba(62, 80, 247, 0.8);">O QUE SÃO COOKIES?</h4>
                    <hr>
                    <p class="p-card-panda-advantages text-justify">Cookies são arquivos salvos em seu computador, tablet ou telefone quando você visita um site. Usamos os cookies necessários para fazer o site funcionar da melhor forma possível e sempre aprimorar os nossos serviços.</p>
                </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mt-5">CLASSIFICAÇÃO E UTILIZAÇÃO DE COOKIES</h3></p>

      <table class="privacy-terms-table">
        <tbody>
          <tr>
            <td style="background-color: rgba(62, 80, 247, 0.8); color:#fff;">Estritamente Necessários</td>
            <td>São necessários para que o site funcione e não podem ser desligados em nossos sistemas. Eles geralmente são definidos apenas em resposta a ações feitas por você que equivalem a uma solicitação de serviços, como definir suas preferências de privacidade, fazer login ou preencher formulários.</td>
          </tr>
          <tr>
            <td style="background-color: rgba(62, 80, 247, 0.8); color:#fff;">Analytics e Performance</td>
            <td>Funcionam para permitir o acompanhamento das análises contando visitas e fontes de tráfego para que possamos medir e melhorar o desempenho do nosso site. Podem ser definidos pela Panda ou por provedores de terceiros para nos ajudar a saber quais páginas ou vídeos são os mais e menos populares e ver como os visitantes navegam pelo site.</td>
          </tr>
          <tr>
            <td style="background-color: rgba(62, 80, 247, 0.8); color:#fff;">Funcionalidades</td>
            <td>Permitem que o site forneça funcionalidade e personalização aprimoradas com base na sua interação com o site, para lembrar, por exemplo, o seu idioma ou região.</td>
          </tr>
        </tbody>
      </table>
      
      <p><h3 class="mt-5">QUER DESABILITAR OS COOKIES? A GENTE TE ENSINA</h3></p>
      <p>De fato, a maioria dos navegadores de Internet são configurados por padrão para permitir automaticamente a instalação de cookies. Contudo, você tem a opção, se desejar, de permitir todos os cookies ou optar por não permitir certos tipos. O Usuário pode fazer a escolha a qualquer momento para expressar e modificar seus desejos com relação aos cookies, pelos meios descritos abaixo.</p>
      <p>O Usuário também pode configurar seu navegador para permitir ou excluir cookies antes de eles serem instalados conforme o caso. O Usuário também pode remover regularmente os cookies do seu terminal através do seu navegador.</p>
      <p>Para o gerenciamento de cookies e escolhas, os meios para configurar cada navegador são diferentes. Este é o passo-a-passo dos navegadores mais utilizados:</p>
      <ul class="list list-unstyled">
        <li class="mb-1"> <i class="far fa-circle text-primary mr-2 mb-1 small"></i> <strong>Chrome:</strong> Limpar, ativar e gerenciar cookies no Chrome - Computador - Ajuda do Google Chrome;</li>
        <li class="mb-1"> <i class="far fa-circle text-primary mr-2 mb-1 small"></i> <strong>Firefox:</strong> Desative cookies de terceiros no Firefox para impedir alguns tipos de rastreamento por anunciantes | Ajuda do Firefox (mozilla.org);</li>
        <li class="mb-1"> <i class="far fa-circle text-primary mr-2 mb-1 small"></i> <strong>Microsoft Edge:</strong> Excluir cookies no Microsoft Edge;</li>
        <li class="mb-1"> <i class="far fa-circle text-primary mr-2 mb-1 small"></i> <strong>Internet Explorer:</strong> Excluir e gerenciar cookies (microsoft.com).</li>
      </ul>
      <p>Caso seu navegador não esteja aqui, consulte as seções “Configurações” ou “Suporte” de seu navegador.</p>

      <p><h3 class="mt-5">ALTERAÇÕES A ESTA POLÍTICA DE COOKIES</h3></p>
      <p>A PANDA VÍDEOS poderá alterar esta Política de Cookies a qualquer momento conforme necessário.</p>
      <p>Nós recomendamos a todos os Usuários a revisar periodicamente esta Política para obter as informações mais recentes sobre nossas práticas de privacidade.</p>
        
      <p><h3 class="mt-5">ENTRE EM CONTATO</h3></p>
      <p>Se tiver dúvidas, entre em contato conosco através do e-mail <strong>privacidade@pandavideos.com.br</strong>.</p>

      <p>Consulte também os nossos <a href="https://pandavideo.com.br/terms/">TERMOS DE USO</a> e nossa <a href="https://pandavideo.com.br/privacy/">POLÍTICA DE COOKIES</a>.</p>
      <p><u>#privacidadenãosefazsozinho</u></p>
      
      <br>
      <p class="mb-9"><b>DATA DA ÚLTIMA ATUALIZAÇÃO:</b> 18 de agosto de 2021.</p>

      </div>
  </div>
</div>
{{end}}


  <!--=================================
  footer-->
  {{- partial "footer.html" . -}}
  <!--=================================
  footer-->

  <!--=================================
  Javascript -->
    {{- partial "scripts.html" . -}}
  
  </body>
  
  </html>